                                                                                                                                                                                                                             @using WebEstudo.Models.Enum
@model WebEstudo.Models.User

@{
    ViewData["Title"] = "Cadastrar cliente";
}
<div class="text-center">

    <h1 class="display-4">Cadastrar Cliente</h1>
    <br />
</div>

<form class="row g-3" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Login" class="control-label"></label>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Perfil" class="control-label"></label>
            <select asp-for="Perfil" class="form-control">
                <option value="0">Selecione</option>
                <option value="@Perfil.Admin">Certidão de Nascimento</option>
                <option value="@Perfil.Padrao">CNH</option>
            </select>
            <span asp-validation-for="Perfil" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="LastModifiedDate" class="control-label"></label>
            <input asp-for="LastModifiedDate" class="form-control" />
            <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-success" role="button" asp-action="Create" />
        </div>
    </div>
</form>
<br />
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-secondary" role="button" asp-action="Index">Voltar para a lista de usuários</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
